.spectrum-dragger {
  border-top-color: $border;
  border-right-color: $border;
  border-bottom-color: $border;
  border-left-color: $border;
  background-color: white;
  box-shadow: $borderLight 0px 0px 2px 0px;
}

.spectrum-slider {
  background-color: $accent1;
  box-shadow: $borderLight 0px 1px 4px 0px;
}

.spectrum-contrast-details {
  background-color: $background;
  color: $foreground;
}

.spectrum-contrast-details .toolbar-state-on [is="ui-icon"] {
  background-color: $accent2;
}

.contrast-details-value {
  color: $foreground;
}

.contrast-details-value [is="ui-icon"] {
  background-color: $foreground;
}

[is="ui-icon"].smallicon-no {
  background-color: $error-color;
}

[is="ui-icon"].smallicon-checkmark-square,
[is="ui-icon"].smallicon-checkmark-behind {
  background-color: $string-color;
}

.spectrum-contrast-details .contrast-details-value.contrast-unknown {
  background-color: $background;
  color: $foreground;
}

.swatch-inner-white {
  border-top-color: $borderLight;
  border-right-color: $borderLight;
  border-bottom-color: $borderLight;
  border-left-color: $borderLight;
}

.swatch-overlay:hover {
  background-color: $primary;
}

.swatch-overlay:active {
  background-color: $primary;
}

[is="ui-icon"].icon-mask.copy-color-icon {
  background-color: $primary;
}

.spectrum-text-value {
  color: $foreground;
  box-shadow: var(--focus-ring-inactive-shadow);
}

.spectrum-text-label {
  color: $primary;
}

.spectrum-switcher:hover {
  background-color: $highlight;
}

.spectrum-palette-color {
  border-top-color: $borderLight;
  border-right-color: $borderLight;
  border-bottom-color: $borderLight;
  border-left-color: $borderLight;
}

.palette-color-shades {
  background-color: $background;
  box-shadow: rgba(230, 230, 230, 0.14) 0px 4px 5px 0px, rgba(230, 230, 230, 0.12) 0px 1px 10px 0px, rgba(230, 230, 230, 0.4) 0px 2px 4px -1px;
}

.palette-panel {
  background-color: $background;
}

.palette-panel > div:not(.toolbar) {
  color: $foreground;
}

.palette-panel > div.palette-title {
  color: $foreground;
}

.palette-preview:hover {
  background-color: $tree;
}

.spectrum-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.delete-color-toolbar {
  background-color: $second;
}

.delete-color-toolbar-active {
  background-color: $second;
  color: $selFg;
}

.background-color .text-preview {
  color: $foreground;
}
