.-theme-with-dark-background, :host-context(.-theme-with-dark-background) {

  .CodeMirror pre {
    background: $background !important;
  }

  .cm-breakpoint:not(.cm-breakpoint-conditional) .CodeMirror-gutter-wrapper .CodeMirror-linenumber {
    filter: hue-rotate(-240deg) !important;
  }

  span.CodeMirror-selectedtext {
    background: $selBgAlpha !important;
  }


  .show-whitespaces .CodeMirror .cm-tab:before {
    display: block !important;
  }

  .source-frame-debugger-script {
    background-color: $highlight !important;
  }

  .diff-entry-insert .diff-marker {
    border-left-color: rgb(109, 213, 151);
  }

  .diff-entry-insert .CodeMirror-gutter-background {
    background-color: rgba(61, 199, 116, 0.2);
  }

  .diff-entry-modify .diff-marker {
    border-left-color: rgb(196, 79, 216);
  }

  .diff-entry-modify .CodeMirror-gutter-background {
    background-color: rgba(137, 55, 151, 0.2);
  }

  .diff-entry-delete .diff-marker {
    border-left-color: rgb(208, 44, 44);
  }

  .diff-entry-delete .CodeMirror-gutter-background {
    border-bottom-color: rgb(208, 44, 44);
  }


}
