.-theme-with-dark-background, :host-context(.-theme-with-dark-background) {
  .cm-js-atom {
    color: $keyword-color !important;
  }

  .cm-js-attribute {
    color: $var-color !important;
  }

  .cm-js-builtin {
    color: $keyword-color !important;
  }

  .cm-js-comment {
    color: $comment-color !important;
  }

  .cm-js-def {
    color: $var-color !important;
    font-weight: 200 !important;
  }

  .cm-js-keyword {
    color: $keyword-color !important;
  }

  .cm-js-link {
    color: $link-color !important;
  }

  .cm-js-meta {
    color: $string-color !important;
  }

  .cm-js-number {
    color: $number-color !important;
  }

  .cm-js-operator {
    color: $operator-color !important;
  }

  .cm-js-property {
    color: $var-color !important;
    font-weight: 100 !important;
  }

  .cm-js-string {
    color: $string-color !important;
  }

  .cm-js-string-2 {
    color: $string-color !important;
  }

  .cm-js-tag {
    color: $tag-name-color !important;
  }

  .cm-js-variable {
    color: $var-color !important;
  }

  .cm-js-variable-2 {
    color: $var-color !important;
  }

  .cm-atom {
    color: $keyword-color !important;
  }

  .cm-comment {
    color: $comment-color !important;
  }

  .cm-variable {
    color: $var-color !important;
  }

  .cm-string {
    color: $string-color !important;
  }

  .cm-keyword {
    color: $keyword-color !important;
  }

  .cm-number {
    color: $number-color !important;
  }

  .cm-operator {
    color: $operator-color !important;
  }

  .cm-css-atom {
    color: $attribute-name-color !important;
  }

  .cm-css-builtin {
    color: $keyword-color !important;
  }

  .cm-css-def {
    color: $keyword-color !important;
  }

  .cm-css-comment {
    color: $comment-color !important;
  }

  .cm-css-meta {
    color: $accent1 !important;
  }

  .cm-css-number {
    color: $number-color !important;
  }

  .cm-css-operator {
    color: $operator-color !important;
  }

  .cm-css-property {
    color: $attribute-name-color !important;
  }

  .cm-css-qualifier {
    color: $attribute-name-color !important;
  }

  .cm-css-string {
    color: $string-color !important;
  }

  .cm-css-string-2 {
    color: $string-color !important;
  }

  .cm-css-tag {
    color: $tag-name-color !important;
  }

  .cm-css-variable {
    color: $function-color !important;
  }

  .cm-css-variable-2 {
    color: $function-color !important;
  }

  .cm-css-variable-3 {
    color: $var-color !important;
  }

  .cm-css-keyword {
    color: $keyword-color !important;
  }

  .cm-xml-comment {
    color: $comment-color !important;
  }

  .cm-xml-error {
    color: $error-color !important;
  }

  .cm-xml-string {
    color: $string-color !important;
  }

  .cm-xml-tag {
    color: $tag-name-color !important;
  }

  .cm-xml-attribute {
    color: $attribute-name-color !important;
  }

  .cm-xml-link {
    color: $link-color !important;
  }

  .cm-def {
    color: $tag-name-color !important;
  }

  .cm-header {
    color: $tag-name-color !important;
  }

  .cm-variable-2 {
    color: $function-color !important;
  }

  .cm-variable-3, .cm-type {
    color: $var-color !important;
  }

  .cm-string {
    color: $string-color !important;
  }

  .cm-meta {
    color: $string-color !important;
  }

  .cm-qualifier {
    color: $attribute-name-color !important;
  }

  .cm-builtin {
    color: $keyword-color !important;
  }

  .cm-bracket {
    color: $operator-color !important;
  }

  .cm-tag {
    color: $tag-name-color !important;
  }

  .cm-attribute {
    color: $attribute-name-color !important;
  }

  .cm-hr {
    color: $comment-color !important;
  }

  .cm-link {
    color: $link-color !important;
  }

  .CodeMirror-gutter-performance {
    background-color: $background !important;
  }

  .CodeMirror-gutter-coverage {
    background-color: $background !important;
  }

  .CodeMirror-gutters {
    background-color: $background !important;
  }

  .cm-execution-line-tail .cm-inline-breakpoint {
    background-color: $background !important;
  }

  .cm-inline-breakpoint.cm-inline-conditional {
    background-color: $accent2 !important;
  }

  .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: $background !important;
  }

  .CodeMirror pre {
    background: $background !important;
  }

  .CodeMirror .text-editor-value-decoration {
    background-color: $comment-color !important;
    color: $text-color !important;

    * {
      color: $text-color !important;
    }
  }

  .cm-breakpoint:not(.cm-breakpoint-conditional) .CodeMirror-gutter-wrapper .CodeMirror-linenumber {
    filter: hue-rotate(-240deg) !important;
  }

  .cm-execution-line {
    background-color: $accent2Alpha !important;;
  }

  .cm-execution-line-outline {
    outline: $accent2Alpha !important;
  }

  .cm-execution-line-tail {
    background-color: $accent2Alpha !important;;
  }

  .cm-line-with-selection .cm-column-with-selection.cm-search-highlight:before {
    background-color: $accent2Alpha !important;
  }


  .CodeMirror-gutter-memory {
    background-color: $background;
  }

  .CodeMirror-gutter-coverage {
    background-color: $background;
  }

  .CodeMirror .source-frame-eval-expression {
    background-color: $highlight !important;
  }

  span.CodeMirror-selectedtext {
    background: $selBgAlpha !important;
  }

  //.CodeMirror .source-frame-continue-to-location {
  //  outline: 0;
  //  border: 1px solid transparent;
  //  border-left-width: 0;
  //  border-right-width: 0;
  //  background-color: rgb(230, 236, 255);
  //  cursor: pointer;
  //}
  //
  //.CodeMirror .source-frame-continue-to-location:hover {
  //  border: 1px solid rgb(121, 141, 254);
  //  background-color: rgb(171, 191, 254);
  //}

  //:host-context(.-theme-with-dark-background) .CodeMirror .source-frame-continue-to-location,
  //.-theme-with-dark-background .CodeMirror .source-frame-continue-to-location {
  //  background-color: #14522b;
  //}
  //
  //:host-context(.-theme-with-dark-background) .CodeMirror .source-frame-continue-to-location:hover,
  //.-theme-with-dark-background .CodeMirror .source-frame-continue-to-location:hover {
  //  border: 1px solid #33cc6b;
  //  background-color: #14522b;
  //}

  //.CodeMirror .source-frame-async-step-in {
  //  outline: 0;
  //  background-color: hsla(100, 46%, 80%, 1);
  //  cursor: pointer;
  //  border: 1px solid transparent;
  //  border-left-width: 0;
  //  border-right-width: 0;
  //}
  //
  //.source-frame-async-step-in-hovered .source-frame-async-step-in {
  //  background-color: hsl(96, 53%, 65%);
  //  border-color: rgb(100, 154, 100);
  //}

  .cm-token-highlight::before {
    border-top-color: $highlight;
    border-right-color: $highlight;
    border-bottom-color: $highlight;
    border-left-color: $highlight;
  }

  .cm-readonly-highlight {
    background-color: $second !important;
  }

  :host-context(.-theme-with-dark-background) .cm-readonly-highlight,
  .-theme-with-dark-background .cm-readonly-highlight {
    background-color: $highlight !important;
  }

  .CodeMirror-linenumber,
  .cm-line-without-source-mapping .CodeMirror-linenumber {
    color: $comment-color !important;
  }

  .cm-whitespace::before {
    color: $comment-color !important;
  }

  .show-whitespaces .CodeMirror .cm-tab:before {
    display: block !important;
  }

  .cm-execution-line {
    background-color: $selBg !important;
  }

  .cm-execution-line-outline {
    outline: 1px solid $accent1 !important;
  }

  //.cm-execution-line-tail {
  //  background-color: rgb(171, 191, 254);
  //}

  //.cm-execution-line .CodeMirror-linenumber::after {
  //  position: absolute;
  //  top:-1px;
  //  bottom:-1px;
  //  right:-1.5em;
  //  content:"";
  //  border-right: 1px solid rgb(64, 115, 244);
  //}

  //:host-context(.-theme-with-dark-background) .cm-execution-line,
  //.-theme-with-dark-background .cm-execution-line {
  //  background-color: #14522b;
  //}
  //
  //:host-context(.-theme-with-dark-background) .cm-execution-line-outline,
  //.-theme-with-dark-background .cm-execution-line-outline {
  //  outline: 1px solid #33cc6b;
  //}
  //
  //:host-context(.-theme-with-dark-background) .cm-execution-line-tail,
  //.-theme-with-dark-background .cm-execution-line-tail {
  //  background-color: #347132;
  //}

  //.cm-token-highlight:before {
  //  position: absolute;
  //  border: 1px solid gray;
  //  border-radius: 3px;
  //  top: 0;
  //  bottom: -1px;
  //  left: 0;
  //  right: 0;
  //  content: "";
  //}
  //
  //.cm-line-with-selection .cm-column-with-selection:before {
  //  border: none;
  //}
  //
  //.cm-search-highlight {
  //  position: relative;
  //}
  //
  //.cm-search-highlight:before {
  //  position: absolute;
  //  border-top-style: solid;
  //  border-bottom-style: solid;
  //  border-top-color: gray;
  //  border-bottom-color: gray;
  //  border-top-width: 1px;
  //  border-bottom-width: 1px;
  //  top: -1px;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  content: "";
  //}
  //
  //.cm-search-highlight-full:before {
  //  border: 1px solid gray;
  //  border-radius: 3px;
  //}
  //
  //.cm-search-highlight-start:before {
  //  border-left-width: 1px;
  //  border-top-left-radius: 2px;
  //  border-bottom-left-radius: 2px;
  //  border-left-style: solid;
  //  border-left-color: gray;
  //}
  //
  //.cm-search-highlight-end:before {
  //  border-right-width: 1px;
  //  border-top-right-radius: 2px;
  //  border-bottom-right-radius: 2px;
  //  border-right-style: solid;
  //  border-right-color: gray;
  //}

  .CodeMirror .text-editor-line-marker-text span.line-marker-units {
    color: $disabled !important;
  }

  //.CodeMirror .text-editor-coverage-unused-marker {
  //  text-align: right;
  //  padding-right: 2px;
  //  background-color: #E57373;
  //}
  //
  //.CodeMirror .text-editor-coverage-unused-marker::after {
  //  content: " ";
  //}
  //
  //.CodeMirror .text-editor-coverage-used-marker {
  //  text-align: right;
  //  padding-right: 2px;
  //  background-color: #81C784;
  //}

  //.CodeMirror .text-editor-line-with-warning:not(.cm-execution-line):not(.cm-readonly-highlight) {
  //  background-color: rgba(241, 230, 0, 0.1);
  //}
  //
  //.CodeMirror .text-editor-line-with-error:not(.cm-execution-line):not(.cm-readonly-highlight) {
  //  background-color: rgba(255, 0, 0, 0.05);
  //}

  .cm-trailing-whitespace {
    background-color: $border !important;
  }

  .CodeMirror .auto-complete-text {
    color: $primary !important;
  }

  .CodeMirror .placeholder-text {
    color: $primary !important;
  }

  .CodeMirror-cursor {
    border-left: 2px solid $accent1 !important;
  }

  /* Shown when moving in bi-directional text */
  .CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid $accent1 !important;
  }

  .CodeMirror-foldmarker::before {
    content: '\2026';
    color: $primary;
  }

  .CodeMirror-foldgutter-open::before,
  .CodeMirror-foldgutter-folded::before {
    background-color: $background !important;
  }

  .source-frame-debugger-script {
    background-color: $highlight !important;
  }

  .diff-entry-insert .diff-marker {
    border-left-color: rgb(109, 213, 151);
  }

  .diff-entry-insert .CodeMirror-gutter-background {
    background-color: rgba(61, 199, 116, 0.2);
  }

  .diff-entry-modify .diff-marker {
    border-left-color: rgb(196, 79, 216);
  }

  .diff-entry-modify .CodeMirror-gutter-background {
    background-color: rgba(137, 55, 151, 0.2);
  }

  .diff-entry-delete .diff-marker {
    border-left-color: rgb(208, 44, 44);
  }

  .diff-entry-delete .CodeMirror-gutter-background {
    border-bottom-color: rgb(208, 44, 44);
  }
;

}
