.-theme-with-dark-background,
:host-context(.-theme-with-dark-background) {
  .console-pin:not(:last-child) {
    border-bottom-color: $border;
  }

  .console-pin-name:focus-within {
    background-color: $highlight;
    box-shadow: $accent1 inset;
  }

  .tree-outline li:hover:not(.selected) .selection {
    background-color: $tree;
  }

  .value.object-value-node:hover {
    background-color: $tree !important;
  }

  .object-value-function-prefix, .object-value-boolean {
    color: $keyword-color !important;
  }

  .object-value-function.linkified:hover {
    background-color: $link-color !important;
  }

  .object-value-number {
    color: $number-color !important;
  }

  .object-value-bigint {
    color: $string-color !important;
  }

  .object-value-string,
  .object-value-regexp,
  .object-value-symbol {
    color: $string-color !important;
  }

  .object-value-string-quote {
    color: $foreground !important;
  }

  .object-value-node {
    color: $tag-name-color !important;
  }

  .object-value-null, .object-value-undefined {
    color: $number-color !important;
  }

  .object-properties-section .object-description {
    color: $attribute-name-color !important;
  }

  .name {
    color: $var-color !important;
  }

  .object-properties-preview .name {
    color: $text-color !important;
  }

  .object-value-number,
  .object-value-number.source-code {
    color: $number-color !important;
  }

  .object-value-string,
  .object-value-string.source-code,
  .object-value-string-quote {
    color: $string-color !important;
  }

  .name.source-code {
    color: $var-color !important;
  }

  #console-prompt .console-prompt-icon {
    filter: hue-rotate(-40deg) !important;
  }

  .console-view {
    background-color: $background !important;
  }

  .console-message-repeat-count .expand-group-icon {
    background-color: $background !important;
  }

  .console-view-wrapper {
    background-color: $lighterBg;
  }

  .console-timestamp {
    color: $attribute-name-color;
  }

  .console-info {
    color: $text-color;
  }

  .expand-group-icon {
    background-color: $foreground;
  }

  .console-message-repeat-count .expand-group-icon {
    background-color: $background;
  }

  .console-message-wrapper:focus, .console-message-wrapper:focus:last-of-type {
    border-top-color: $accent1 !important;
    border-bottom-color: $accent1 !important;
    background-color: $tree !important;
  }

  .console-message-wrapper .nesting-level-marker {
    border-right-color: $foreground;
  }

  .console-message-wrapper .nesting-level-marker::before {
    border-bottom-color: $foreground;
  }

  .console-system-type.console-info-level {
    color: $link-color;
  }

  #console-messages .link, #console-messages .devtools-link {
    color: $link-color;
  }

  #console-messages .link:hover, #console-messages .devtools-link:hover {
    color: $selFg;
  }

  .console-group-messages .section > .header .title {
    color: $foreground;
  }

  .console-group-messages .section .properties li .info {
    color: $attribute-name-color;
  }

  .console-object-preview .name {
    color: $number-color;
  }

  .object-state-note {
    color: $foreground;
  }

  .info-note {
    background-color: $function-color;
  }


}