.-theme-with-dark-background,
:host-context(.-theme-with-dark-background) {

  .object-value-number,
  .object-value-number.source-code {
    color: $number-color !important;
  }

  .object-value-string,
  .object-value-string.source-code,
  .object-value-string-quote {
    color: $string-color !important;
  }

  .name.source-code {
    color: $var-color !important;
  }

  #console-prompt .console-prompt-icon {
    filter: hue-rotate(-40deg) !important;
  }

}