.-theme-with-dark-background, :host-context(.-theme-with-dark-background) {
  .search-toolbar {
    background-color: var(--toolbar-bg-color);
  }

  .search-toolbar-summary {
    background: $contrast !important;
    border-top-color: $border !important;
  }



  /* Searchable View
     ========================================================================== */
  .toolbar-search-buttons {
    .search-action-button {
      background: $button !important;
      color: $primary !important;
      border: 0 !important;
      border-radius: 0 !important;
      text-transform: uppercase !important;
      font-weight: bold !important;
    }
  }

}