//.paused-status {
//  border-top-color: rgb(69, 69, 69);
//  background-color: rgb(84, 71, 0);
//  color: rgb(207, 197, 148);
//}

.paused-status.error-reason {
  background-color: rgb(79, 0, 0);
  color: $foreground;
}

.paused-status.error-reason .status-sub {
  color: $error-color;
}

.breakpoint-entry {
  border-top-color: $background;
}

:not(.breakpoints-list-deactivated) > .breakpoint-entry:hover {
  background-color: $highlight !important;
}

.breakpoints-list-deactivated {
  background-color: $lighterBg !important;
}

.breakpoint-hit {
  background-color: rgba($darkerBg, 0.5) !important;
  color: $text-color !important;
}

.navigator-file-tree-item .icon {
  background: $foreground !important;
}

.navigator-folder-tree-item .icon {
  background-color: $primary !important;
}

.navigator-sm-folder-tree-item .icon,
.navigator-fs-tree-item .icon,
.navigator-fs-folder-tree-item .icon {
  background-image: linear-gradient(45deg, $number-color, $number-color) !important;
}

.navigator-nw-folder-tree-item .icon {
  background-image: linear-gradient(45deg, $primary, $primary) !important;
}

.navigator-sm-script-tree-item .icon,
.navigator-script-tree-item .icon,
.navigator-snippet-tree-item .icon {
  background-image: linear-gradient(45deg, $attribute-name-color, $attribute-name-color) !important;
}

.navigator-sm-stylesheet-tree-item .icon,
.navigator-stylesheet-tree-item .icon {
  background-image: linear-gradient(45deg, $link-color, $link-color) !important;
}

.navigator-image-tree-item .icon, .navigator-font-tree-item .icon {
  background-image: linear-gradient(45deg, $string-color, $string-color) !important;
}

.navigator-toolbar {
  border-bottom-color: $border !important;
}

.scripts-debug-toolbar {
  background-color: $contrast !important;
  border-bottom-color: $border !important;
}

.scripts-debug-toolbar-drawer {
  background-color: $background !important;
}

.navigator-tabbed-pane {
  background-color: $contrast !important;
}