.blackboxed-message {
  color: $foreground !important;
  background-color: $accent1 !important;
}

.show-more-message {
  border-top-color: $border !important;
}

.call-frame-item:not(.async-header) {
  border-top-color: $background !important;
}

.call-frame-item:not(.async-header):hover {
  background-color: $selBg !important;
}

.call-frame-location {
  color: $primary !important;
}

.async-header::before {
  border-top-color: $second !important;
}

.async-header .call-frame-item-title {
  color: $foreground !important;
  background-color: $background !important;
}
