.styles-section:focus {
  background: $lighterBg !important;
}

.styles-section .selector {
  color: $primary !important;
}

.styles-section.keyframe-key {
  color: $number-color !important;
}

input[is="history-input"],
.filter-input-field {
  background-color: $contrast !important;
  border: none !important;
  border-bottom: 2px solid $border !important;
  box-shadow: none !important;

  &:focus {
    border-bottom-color: $accent1 !important;
  }
}
