.-theme-with-dark-background {

  .elements-disclosure li.selected .selection {
    display: block !important;
    background-color: var(--selection-inactive-bg-color) !important;
  }



}

:host-context(.-theme-with-dark-background) {

  .node-label-id {
    color: $function-color !important;
  }
}
