.-theme-with-dark-background {

  .elements-disclosure li.selected .selection {
    display: block !important;
    background-color: var(--selection-inactive-bg-color) !important;
  }

  .elements-disclosure ol li.selected:focus {
    color: $selFg !important;
  }

  .elements-disclosure ol li.parent.selected:focus::before {
    background-color: $selFg !important;
  }




}

:host-context(.-theme-with-dark-background) {

  .node-label-id {
    color: $function-color !important;
  }
}
