/* ==========================================================================
   Dark Theme
   ========================================================================== */
:root {
  --background: #263238;
  --darkerBg: #212c31;
  --lighterBg: #32424a;
  --foreground: #b0bec5;
  --primary: #607d8b;
  --selBg: #546e7a;
  --selBgAlpha: rgba(84, 110, 122, 0.5);
  --selFg: #ffffff;
  --button: #2e3c43;
  --second: #32424A;
  --disabled: #415967;
  --contrast: #1e272c;
  --active: #314549;
  --border: #2a373e;
  --highlight: #425b67;
  --tree: #546e7a70;
  --notif: #1e272c;
  --accent1: #009688;
  --accentAlpha: rgba(0, 150, 136, .5);
  --excluded: #2e3c43;
  --excludedAlpha: rgba(46, 60, 67, .3);
  --accent2: #80cbcf;
  --accent2Alpha: rgba(128, 203, 207, .5);
  --accent3: #ff4081;

  --tag-name-color: #f07178;
  --attribute-name-color: #ffcb6b;
  --comment-color: #546e7a;
  --keyword-color: #c792ea;
  --error-color: #ff5370;
  --var-color: #eeffff;
  --operator-color: #89ddff;
  --function-color: #82aaff;
  --string-color: #c3e88d;
  --number-color: #f78c6c;
  --link-color: #80cbc4;
  --text-color: #c3cee3;
  --ignored-color: #ab79c7;
  --parameters-color: #f78c6c;
}

$background: var(--background);
$darkerBg: var(--darkerBg);
$lighterBg: var(--lighterBg);
$foreground: var(--foreground);
$primary: var(--primary);
$selBg: var(--selBg);
$selBgAlpha: var(--selBgAlpha);
$selFg: var(--selFg);
$button: var(--button);
$disabled: var(--disabled);
$contrast: var(--contrast);
$second: var(--second);
$active: var(--active);
$border: var(--border);
$highlight: var(--highlight);
$tree: var(--tree);
$notif: var(--notif);
$accent1: var(--accent1);
$accent1Alpha: var(--accentAlpha);
$excluded: var(--excluded);
$excludedAlpha: var(--excludedAlpha);
$accent2: var(--accent2);
$accent2Alpha: var(--accent2Alpha);
$accent3: var(--accent3);

$tag-name-color: var(--tag-name-color);
$attribute-name-color: var(--attribute-name-color);
$comment-color: var(--comment-color);
$keyword-color: var(--keyword-color);
$var-color: var(--var-color);
$error-color: var(--error-color);
$operator-color: var(--operator-color);
$function-color: var(--function-color);
$string-color: var(--string-color);
$number-color: var(--number-color);
$link-color: var(--link-color);
$text-color: var(--text-color);
$ignored-color: var(--ignored-color);
$fontFamily: var(--font-family, Menlo, monospace);
$fontSize: var(--font-size, 11px);

.-theme-with-dark-background {
  --accent-color: #{$accent2} !important;
  --accent-color-b: #{rgba($accent2, 0.5)} !important;
  --accent-color-c: #{$accent2} !important;
  --toolbar-bg-color: #{$darkerBg} !important;
  --toolbar-hover-bg-color: #{$highlight} !important;
  --selection-fg-color: #{$selFg} !important;
  --selection-bg-color: #{$selBg} !important;
  --selection-inactive-bg-color: #{$lighterBg} !important;
  --tab-selected-fg-color: #{$selFg} !important;
  --tab-selected-bg-color: #{$highlight} !important;
  --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23),
  0 2px 4px 2px rgba(0, 0, 0, 0.2),
  0 2px 6px 2px rgba(0, 0, 0, 0.1) !important;
  --divider-color: #{$border} !important;
  --focus-ring-active-shadow: 0 0 0 1px #{$accent1} !important;
  --focus-ring-inactive-shadow: 0 0 0 1px #{$border} !important;
  --editor-selection-bg-color: #{$selBg} !important;
  --editor-selection-inactive-bg-color: #{$excludedAlpha} !important;
}

/* Syntax Highlighting
========================================================================== */

:host-context(:not(.platform-mac).-theme-with-dark-background),
:host-context(.-theme-with-dark-background),
:not(.platform-mac).-theme-with-dark-background,
.-theme-with-dark-background {

  /* Network grid
   ==========================================================================
   */

  .infobar {
    color: $text-color !important;
  }

  .infobar-info {
    background: $lighterBg !important;

    .info-icon {
      background: $accent2 !important;
    }

    .infobar-toggle {
      color: $accent2 !important;
    }
  }

  /* Network
   =================================================================
   */

  .item-list {
    background: $second !important;
  }

  .subtitle {
    color: $primary !important;
  }

}