/* ==========================================================================
   Dark Theme
   ========================================================================== */
:root {
  --background: rgb(38, 50, 56);
  --darkerBg: rgb(33, 44, 49);
  --lighterBg: rgb(50, 66, 74);
  --foreground: rgb(176, 190, 197);
  --primary: rgb(96, 125, 139);
  --selBg: rgb(84, 110, 122);
  --selBgAlpha: rgba(84, 110, 122, 0.5);
  --selFg: rgb(255, 255, 255);
  --button: rgb(46, 60, 67);
  --disabled: rgb(65, 89, 103);
  --contrast: rgb(30, 39, 44);
  --second: rgb(49, 69, 73);
  --border: rgb(42, 55, 62);
  --highlight: rgb(66, 91, 103);
  --tree: rgba(84, 110, 122, .5);
  --notif: rgb(30, 39, 44);
  --accent1: rgb(0, 150, 136);
  --accentAlpha: rgba(0, 150, 136, .5);
  --excluded: rgb(46, 60, 67);
  --excludedAlpha: rgba(46, 60, 67, .3);
  --accent2: rgb(128, 203, 207);
  --accent2Alpha: rgba(128, 203, 207, .5);
  --accent3: rgb(255, 64, 129);

  --tag-name-color: #f07178;
  --attribute-name-color: #ffcb6b;
  --comment-color: #546e7a;
  --keyword-color: #c792ea;
  --error-color: #ff5370;
  --var-color: #eeffff;
  --operator-color: #89ddff;
  --function-color: #82aaff;
  --string-color: #c3e88d;
  --number-color: #f78c6c;
  --link-color: #80cbc4;
  --text-color: #c3cee3;
  --ignored-color: #ab79c7;
  --parameters-color: #f78c6c;
}

$background: var(--background);
$darkerBg: var(--darkerBg);
$lighterBg: var(--lighterBg);
$foreground: var(--foreground);
$primary: var(--primary);
$selBg: var(--selBg);
$selBgAlpha: var(--selBgAlpha);
$selFg: var(--selFg);
$button: var(--button);
$disabled: var(--disabled);
$contrast: var(--contrast);
$second: var(--second);
$border: var(--border);
$highlight: var(--highlight);
$tree: var(--tree);
$notif: var(--notif);
$accent1: var(--accent1);
$accent1Alpha: var(--accentAlpha);
$excluded: var(--excluded);
$excludedAlpha: var(--excludedAlpha);
$accent2: var(--accent2);
$accent2Alpha: var(--accent2Alpha);
$accent3: var(--accent3);

$tag-name-color: var(--tag-name-color);
$attribute-name-color: var(--attribute-name-color);
$comment-color: var(--comment-color);
$keyword-color: var(--keyword-color);
$var-color: var(--var-color);
$error-color: var(--error-color);
$operator-color: var(--operator-color);
$function-color: var(--function-color);
$string-color: var(--string-color);
$number-color: var(--number-color);
$link-color: var(--link-color);
$text-color: var(--text-color);
$ignored-color: var(--ignored-color);
$fontFamily: var(--font-family, Menlo, monospace);
$fontSize: var(--font-size, 11px);

.-theme-with-dark-background {
  --accent-color: #{$accent2} !important;
  --accent-color-b: #{rgba($accent2, 0.5)} !important;
  --accent-color-c: #{$accent2} !important;
  --toolbar-bg-color: #{$darkerBg} !important;
  --toolbar-hover-bg-color: #{$highlight} !important;
  --selection-fg-color: #{$selFg} !important;
  --selection-bg-color: #{$selBg} !important;
  --selection-inactive-bg-color: #{$lighterBg} !important;
  --tab-selected-fg-color: #{$selFg} !important;
  --tab-selected-bg-color: #{$highlight} !important;
  --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23),
  0 2px 4px 2px rgba(0, 0, 0, 0.2),
  0 2px 6px 2px rgba(0, 0, 0, 0.1) !important;
  --divider-color: #{$border} !important;
  --focus-ring-active-shadow: 0 0 0 1px #{$accent1} !important;
  --focus-ring-inactive-shadow: 0 0 0 1px #{$border} !important;
  --editor-selection-bg-color: #{$selBg} !important;
  --editor-selection-inactive-bg-color: #{$excludedAlpha} !important;
}

/* Syntax Highlighting
========================================================================== */
:host-context(.-theme-with-dark-background),
.-theme-with-dark-background {
  ::selection {
    background: $selBgAlpha !important;
    color: $selFg !important;
  }

  .monospace,
  .source-code {
    font-family: $fontFamily !important;
    font-size: $fontSize !important;
  }

  // Line at caret
  ol li.selected:focus .webkit-html-tag,
  ol li.selected:focus .webkit-html-tag-name,
  ol li.selected:focus .webkit-html-close-tag-name,
  ol li.selected:focus .webkit-html-attribute-value,
  ol li.selected:focus .webkit-html-attribute-name,
  ol li.selected:focus .devtools-link {
    color: $selFg !important;
  }

  .close-button .smallicon-cross {
    filter: brightness(2);
  }

  //region Code
  .webkit-html-attribute-name {
    color: $attribute-name-color !important;
  }

  .webkit-html-attribute-value {
    color: $string-color !important;
  }

  .webkit-html-comment {
    color: $comment-color !important;
  }

  .webkit-html-doctype {
    color: $operator-color !important;
  }

  .webkit-html-tag {
    color: $operator-color !important;
  }

  .webkit-html-tag-name {
    color: $tag-name-color !important;
  }

  .webkit-html-close-tag-name {
    color: $tag-name-color !important;
  }

  .webkit-html-text-node {
    color: $text-color !important;
  }

  .webkit-html-css-node {
    color: $text-color !important;
  }

  .webkit-html-js-node {
    color: $text-color !important;
  }

  .webkit-html-pseudo-element {
    color: $var-color !important;
  }

  .webkit-css-selector {
    color: $tag-name-color !important;
  }

  .webkit-css-at-rule {
    color: $keyword-color !important;
  }

  .webkit-css-color {
    color: $number-color !important;
  }

  .webkit-css-comment {
    color: $comment-color !important;
  }

  .webkit-css-important {
    color: $keyword-color !important;
  }

  .webkit-css-keyword {
    color: $keyword-color !important;
  }

  .webkit-css-number {
    color: $number-color !important;
  }

  .webkit-css-property {
    color: $accent2 !important;
  }

  .webkit-css-string {
    color: $string-color !important;
  }

  .webkit-css-url {
    color: $link-color !important;
  }

  //endregion

}

:host-context(:not(.platform-mac).-theme-with-dark-background),
:host-context(.-theme-with-dark-background),
:not(.platform-mac).-theme-with-dark-background,
.-theme-with-dark-background {

  // region Scrollbars
  /* Scrollbars
  ========================================================================== */
  ::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
  }

  ::-webkit-scrollbar-track {
    background: $background !important;
  }

  ::-webkit-scrollbar-thumb {
    background: $accent1Alpha !important;
    border-radius: 16px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $accent1 !important;
  }

  ::-moz-selection {
    color: $selBg !important;
  }

  // endregion

  // region Panels
  /* Background and Foreground color
  ========================================================================== */
  .root-view,
  .network-status-pane,
  .timeline-landing-page,
  body,
  .platform-linux,
  .platform-mac,
  .panel,
  .settings-window-main {
    background-color: $background !important;
    color: $text-color !important;
  }

  // endregion

  // region Sidebars
  /* Sidebars
  ========================================================================== */
  .panel-sidebar {
    background-color: $contrast !important;
  }

  .sidebar-separator > span.monospace {
    background-color: $background !important;
  }

  // endregion

  // region Toolbars
  /* Toolbars
  ========================================================================== */
  .toolbar-blue-on-hover .toolbar-button:not(.toolbar-state-on):enabled:hover .toolbar-glyph {
    background-color: $background !important;
  }

  .toolbar-state-on {
    .toolbar-text {
      color: $accent1 !important;
    }
  }

  .toolbar-item.toolbar-button:not(.toolbar-has-dropdown) {
    color: $text-color !important;

    &:hover {
      background-image: radial-gradient(circle at center, $highlight 60%, rgba(0,0,0,0) 0) !important;
      opacity: .8;

      > * {
        color: $selFg !important;
      }
    }
  }

  .list-item:hover {
    background: $selBg !important;
    color: $selFg !important;
  }

  select.toolbar-item[data-keyboard-focus="true"]:focus > * {
    background-color: $background !important;
  }

  .toolbar-shadow.floating {
    background-color: $background !important;
    border-color: $border !important;
  }

  // endregion

  // region Components
  /* Components
  ========================================================================== */

  // Buttons
  .text-button {
    background: $button !important;
    border: none !important;
    color: $foreground !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }

  .text-button:not(:disabled):focus,
  .text-button:not(:disabled):hover,
  .text-button:not(:disabled):active {
    background-color: $highlight !important;
    box-shadow: none !important;
  }

  .text-button:not(:disabled):active {
    background-color: $highlight !important;
  }

  .text-button:not(:disabled):focus {
    box-shadow: $accent1 0px 1px 2px, $accent1 0px 0px 0px 2px;
  }

  // The shortcut keys in settings
  .settings-key {
    background: $highlight !important;
    color: $selFg !important;
    border: none;
    box-shadow: $border 0px 1px 0px;
  }

  /* Radios
  ========================================================================== */
  input[type="radio"] {
    //opacity: 0 !important; // hide it
    margin-right: 10px !important;
    filter: none !important;
    position: relative;

    &:before {
      position: relative !important;
      cursor: pointer !important;
      padding: 0 !important;
    }

    // Box.
    &:before {
      position: relative;
      content: '' !important;
      display: inline-block !important;
      vertical-align: text-top !important;
      width: 14px !important;
      height: 14px !important;
      background: $background !important;
      border: 2px solid $accent1 !important;
      border-radius: 50% !important;
      left: -2px;
      top: -2px;
    }

    // Box hover
    &:hover:before {
      background: $contrast !important;
    }

    // Box focus
    &:focus:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12) !important;
    }

    // Disabled state label.
    &:disabled:before {
      color: #b8b8b8 !important;
      cursor: auto !important;
    }

    // Disabled box.
    &:disabled:before {
      box-shadow: none !important;
      background: #dddddd !important;
    }

    // Checkmark. Could be replaced with an image
    &:checked:before {
      content: '' !important;
      position: absolute !important;
      left: -2px !important;
      top: -2px !important;
      background: $background !important;
      width: 14px !important;
      height: 14px !important;
      border: 2px solid $accent1 !important;
    }

    &:checked:after {
      content: '' !important;
      position: absolute !important;
      left: 0px !important;
      top: 0px !important;
      background: $accent1 !important;
      width: 14px !important;
      height: 14px !important;
      transform: scale(0.6) !important;
      border-radius: 50% !important;
    }
  }

  /* Checkboxes
 ========================================================================== */
  input[type="checkbox"]:not(.dt-checkbox-themed):not(.enabled-button) {
    position: absolute !important; // take it out of document flow
    opacity: 0 !important; // hide it

    & + label,
    & ~ .webkit-css-property {
      position: relative !important;
      cursor: pointer !important;
      padding: 0 !important;
    }

    // Box.
    & + label:before,
    & ~ .webkit-css-property:before {
      position: relative;
      content: '' !important;
      margin-right: 10px !important;
      display: inline-block !important;
      vertical-align: text-top !important;
      width: 12px !important;
      height: 12px !important;
      background: $background !important;
      border: 2px solid $accent1 !important;
      border-radius: 4px !important;
    }

    // Box hover
    &:hover + label:before,
    &:hover ~ .webkit-css-property:before {
      background: $contrast !important;
    }

    // Box focus
    &:focus + label:before,
    &:focus ~ .webkit-css-property:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12) !important;
    }

    // Box checked
    &:checked + label:before,
    &:checked ~ .webkit-css-property:before {
      background: $accent1 !important;
      color: $background !important;
    }

    // Disabled state label.
    &:disabled + label,
    &:disabled ~ .webkit-css-property {
      color: #b8b8b8 !important;
      cursor: auto !important;
    }

    // Disabled box.
    &:disabled + label:before,
    &:disabled ~ .webkit-css-property:before {
      box-shadow: none !important;
      background: #dddddd !important;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after,
    &:checked ~ .webkit-css-property:after {
      content: '' !important;
      position: absolute !important;
      left: 3px !important;
      top: 7px !important;
      background: $background !important;
      width: 2px !important;
      height: 2px !important;
      box-shadow: 2px 0 0 $background,
      4px 0 0 $background,
      4px -2px 0 $background,
      4px -4px 0 $background,
      4px -6px 0 $background,
      4px -8px 0 $background !important;
      transform: rotate(45deg) !important;
    }
  }

  input.dt-checkbox-themed {
    border-top-color: $highlight;
    border-right-color: $highlight;
    border-bottom-color: $highlight;
    border-left-color: $highlight;
    background-color: $contrast;
  }

  input.dt-checkbox-themed:checked::after {
    background-color: $accent1 !important;
  }

  .dt-checkbox-subtitle {
    color: $primary !important;
  }

  // endregion

  // Product Registry
  .product-registry-badge {
    background-color: $accent1 !important;
  }

  .product-registry-badge::before {
    color: $selFg !important;
  }

  /* View Container
     ========================================================================== */
  .expandable-view-title {
    background-color: $contrast;
  }

  .expandable-view-title.expanded, .expandable-view-title:last-child {
    border-bottom-color: $disabled !important;
  }

  .sidebar-pane-container .toolbar {
    border-bottom-color: $border;
  }

  /* Filter bar
     ========================================================================== */
  .filter-bitset-filter span.selected {
    background: $accent1 !important;
    color: $selFg !important;
  }

  /* Text Prompt
     ========================================================================== */
  .text-prompt-editing {
    box-shadow: var(--drop-shadow) !important;
    background-color: $background !important;
  }

  /* Sources
     ========================================================================== */
  .toolbar-shadow {
    z-index: 12 !important;
  }

  .soft-dropdown {
    color: $foreground !important;
  }

  .toolbar-text {
    color: $primary !important;
  }

  /* Scripts
     ========================================================================== */

  .selection-fill {
    opacity: .5 !important;
    border-left: 2px solid $accent1 !important;
  }

  //input[type="radio"]:checked {
  //  filter: hue-rotate(322deg) brightness(105%) contrast(80%) !important;
  //}

  /* Network grid
   ==========================================================================
   */

  input[type="checkbox"]:not(.dt-checkbox-themed) {
    filter: none !important;
  }

  .infobar {
    color: $text-color !important;
  }

  .infobar-info {
    background: $lighterBg !important;

    .info-icon {
      background: $accent2 !important;
    }

    .infobar-toggle {
      color: $accent2 !important;
    }
  }

  /* Box Model
   ========================================================================== */
  .metrics {
    color: $text-color !important;

    .position {
      background: $contrast !important;
      border-color: $border !important;
    }

    .margin {
      background: $background !important;
    }

    .border {
      border: $border !important;
      background: $darkerBg !important;
    }

    .padding {
      background: $contrast !important;
    }

    .content {
      background: $highlight !important;
    }
  }

  .resources-dividers-label-bar {
    background: $contrast !important;
  }

  /* Network
   =================================================================
   */

  .tree-outline > .parent {
    color: $primary !important;

    &:hover, &:focus {
      color: $selFg !important;
    }
  }

  .tree-outline .header-name {
    color: $accent1 !important;
  }

  .tree-outline li::before {
    background-color: $selFg !important;
  }

  .tree-outline li:not(.parent)::before {
    background-color: transparent !important;
  }

  ol.tree-outline:not(.hide-selection-when-blurred) li.selected:focus .selection {
    background-color: $tree !important;
    color: $selFg !important;
  }

  .empty-view {
    color: $disabled !important;
  }

  .network-timing-table-header td {
    color: $primary !important;
  }

  /* Popups
   ========================================================
   */
  .tooltip {
    background: $background !important;
    color: $foreground !important;
    border-color: $background !important;
  }

  .tooltip-shortcut {
    color: $primary !important;
  }

  .item-list {
    background: $second !important;
  }

  .subtitle {
    color: $primary !important;
  }

  .suggest-box {
    background: $background !important;

    .query {
      color: $accent1 !important;
    }
  }

  .settings-info-message {
    background: $second !important;
  }

}

@import "elements";
@import "console";
@import "cm";
@import "treeView";
@import "styles";
@import "tabbedPane";
@import "profile";
@import "soft_context_menu";
@import "breadcrumbs";
@import "network";
@import "search";
@import "sources";
@import "stackTrace";
@import "inspector";
@import "data_grid";
@import "resources";