/* ==========================================================================
   Dark Theme
   ========================================================================== */
:root {
  --background: rgb(38, 50, 56);
  --darkerBg: rgb(33, 44, 49);
  --lighterBg: rgb(50, 66, 74);
  --foreground: rgb(176, 190, 197);
  --primary: rgb(96, 125, 139);
  --selBg: rgb(84, 110, 122);
  --selBgAlpha: rgba(84, 110, 122, 0.5);
  --selFg: rgb(255, 255, 255);
  --button: rgb(46, 60, 67);
  --disabled: rgb(65, 89, 103);
  --contrast: rgb(30, 39, 44);
  --second: rgb(49, 69, 73);
  --border: rgb(42, 55, 62);
  --highlight: rgb(66, 91, 103);
  --tree: rgb(84, 110, 122);
  --notif: rgb(30, 39, 44);
  --accent1: rgb(0, 150, 136);
  --accentAlpha: rgba(0, 150, 136, .5);
  --excluded: rgb(46, 60, 67);
  --excludedAlpha: rgba(46, 60, 67, .3);
  --accent2: rgb(128, 203, 207);
  --accent2Alpha: rgba(128, 203, 207, .5);
  --accent3: rgb(255, 64, 129);

  --tag-name-color: #f07178;
  --attribute-name-color: #ffcb6b;
  --comment-color: #546e7a;
  --keyword-color: #c792ea;
  --error-color: #ff5370;
  --var-color: #eeffff;
  --operator-color: #89ddff;
  --function-color: #82aaff;
  --string-color: #c3e88d;
  --number-color: #f78c6c;
  --link-color: #80cbc4;
  --text-color: #c3cee3;
  --ignored-color: #ab79c7;
  --parameters-color: #f78c6c;
}

$background: var(--background);
$darkerBg: var(--darkerBg);
$lighterBg: var(--lighterBg);
$foreground: var(--foreground);
$primary: var(--primary);
$selBg: var(--selBg);
$selBgAlpha: var(--selBgAlpha);
$selFg: var(--selFg);
$button: var(--button);
$disabled: var(--disabled);
$contrast: var(--contrast);
$second: var(--second);
$border: var(--border);
$highlight: var(--highlight);
$tree: var(--tree);
$notif: var(--notif);
$accent1: var(--accent1);
$accentAlpha: var(--accentAlpha);
$excluded: var(--excluded);
$excludedAlpha: var(--excludedAlpha);
$accent2: var(--accent2);
$accent2Alpha: var(--accent2Alpha);
$accent3: var(--accent3);

$tag-name-color: var(--tag-name-color);
$attribute-name-color: var(--attribute-name-color);
$comment-color: var(--comment-color);
$keyword-color: var(--keyword-color);
$var-color: var(--var-color);
$error-color: var(--error-color);
$operator-color: var(--operator-color);
$function-color: var(--function-color);
$string-color: var(--string-color);
$number-color: var(--number-color);
$link-color: var(--link-color);
$text-color: var(--text-color);
$ignored-color: var(--ignored-color);

:host-context(.-theme-with-dark-background),
.-theme-with-dark-background {
  ol li.selected:focus .webkit-html-tag,
  ol li.selected:focus .webkit-html-tag-name,
  ol li.selected:focus .webkit-html-close-tag-name,
  ol li.selected:focus .webkit-html-attribute-value,
  ol li.selected:focus .webkit-html-attribute-name,
  ol li.selected:focus .devtools-link {
    color: $selFg !important;
  }
}

/* Syntax Highlighting
========================================================================== */
:host-context(.-theme-with-dark-background),
.-theme-with-dark-background {
  .webkit-html-attribute-name {
    color: $attribute-name-color !important;
  }

  .webkit-html-attribute-value {
    color: $string-color !important;
  }

  .webkit-html-comment {
    color: $comment-color !important;
  }

  .webkit-html-doctype {
    color: $operator-color !important;
  }

  .devtools-link {
    color: $link-color !important;
  }

  .webkit-html-tag {
    color: $operator-color !important;
  }

  .webkit-html-tag-name {
    color: $tag-name-color !important;
  }

  .webkit-html-close-tag-name {
    color: $tag-name-color !important;
  }

  .webkit-html-text-node {
    color: $text-color !important;
  }

  .webkit-html-css-node {
    color: $text-color !important;
  }

  .webkit-html-js-node {
    color: $text-color !important;
  }

  .webkit-html-pseudo-element {
    color: $var-color !important;
  }

  .webkit-css-selector {
    color: $tag-name-color !important;
  }

  .webkit-css-at-rule {
    color: $keyword-color !important;
  }

  .webkit-css-color {
    color: $number-color !important;
  }

  .webkit-css-comment {
    color: $comment-color !important;
  }

  .webkit-css-important {
    color: $keyword-color !important;
  }

  .webkit-css-keyword {
    color: $keyword-color !important;
  }

  .webkit-css-number {
    color: $number-color !important;
  }

  .webkit-css-property {
    color: $accent2 !important;
  }

  .webkit-css-string {
    color: $string-color !important;
  }

  .webkit-css-url {
    color: $link-color !important;
  }
}

.-theme-with-dark-background {
  --accent-color: #{$accent2} !important;
  --accent-color-b: #{rgba($accent2, 0.5)} !important;
  --accent-color-c: #{$accent3} !important;
  --toolbar-bg-color: #{$darkerBg} !important;
  --toolbar-hover-bg-color: #{$highlight} !important;
  --selection-fg-color: #{$selFg} !important;
  --selection-bg-color: #{$selBg} !important;
  --selection-inactive-bg-color: #{$darkerBg} !important;
  --tab-selected-fg-color: #{$selFg} !important;
  --tab-selected-bg-color: #{$highlight} !important;
  --drop-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2),
  0 2px 4px 2px rgba(0, 0, 0, 0.2),
  0 2px 6px 2px rgba(0, 0, 0, 0.1) !important;
  --divider-color: #{$border} !important;
  --focus-ring-active-shadow: 0 0 0 1px #{$accent1} !important;
  --focus-ring-inactive-shadow: 0 0 0 1px #{$border} !important;
  --editor-selection-bg-color: #{$selBgAlpha} !important;
  --editor-selection-inactive-bg-color: #{$excludedAlpha} !important;
}

// these are the roots
:host-context(:not(.platform-mac).-theme-with-dark-background),
:host-context(.-theme-with-dark-background),
:not(.platform-mac).-theme-with-dark-background,
.-theme-with-dark-background {
  ::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
  }

  ::-webkit-scrollbar-track {
    background: $background !important;
  }

  ::-webkit-scrollbar-thumb {
    background: $accentAlpha !important;
    border-radius: 16px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $accent1 !important;
  }

  ::-moz-selection {
    color: $selBg !important;
  }

  .root-view,
  .network-status-pane,
  .timeline-landing-page {
    background-color: $background !important;
    color: $text-color !important;
  }

  body,
  .platform-linux,
  .platform-mac {
    background-color: $background !important;
    color: $text-color !important;
  }

  .panel,
  .settings-window-main {
    background-color: $background !important;
    color: $foreground !important;
  }

  .panel-sidebar {
    background-color: $contrast !important;
  }

  .toolbar-blue-on-hover .toolbar-button:not(.toolbar-state-on):enabled:hover .toolbar-glyph {
    background-color: $background !important;
  }

  .toolbar-item {
    color: $text-color !important;
  }

  .list-item:hover {
    background: $selBg !important;
    color: $selFg !important;
  }

  select.toolbar-item[data-keyboard-focus="true"]:focus > * {
    background-color: $background !important;
  }

  .toolbar-input {
    background-color: $background !important;
  }

  .toolbar-shadow.floating {
    background-color: $background !important;
    border-color: $border !important;
  }

  .sidebar-separator > span.monospace {
    background-color: $background !important;
  }

  .chrome-select, .text-button {
    background: $button !important;
    border: none !important;
    color: $foreground !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }

  .settings-key {
    background: $highlight !important;
    color: $selFg !important;
  }

  /* Console
     ========================================================================== */
  .console-view {
    background-color: $background !important;
  }

  .console-message-repeat-count .expand-group-icon {
    background-color: $background !important;
  }

  /* Inspector
     ========================================================================== */
  input {
    background-color: $background !important;
  }

  .editing {
    box-shadow: var(--drop-shadow) !important;
    background-color: $background !important;
  }

  .full-widget-dimmed-banner {
    color: rgb(136, 136, 136) !important;
    background-color: $background !important;
  }


  /* View Container
     ========================================================================== */
  .expandable-view-title {
    background-color: $contrast;
  }

  .expandable-view-title.expanded, .expandable-view-title:last-child {
    border-bottom-color: $disabled !important;
  }

  .sidebar-pane-container .toolbar {
    border-bottom-color: $border;
  }

  // Search inputs
  .styles-sidebar-pane-toolbar,
  .styles-sidebar-pane-filter-box > input,
  .toolbar-input,
  .filter-input-field {
    background-color: $contrast !important;
    border-bottom: 1px solid $border !important;
  }

  /* Filter bar
     ========================================================================== */
  .filter-bitset-filter span.selected {
    background: $accent1 !important;
    color: $selFg !important;
  }

  /* Text Prompt
     ========================================================================== */
  .text-prompt-editing {
    box-shadow: var(--drop-shadow) !important;
    background-color: $background !important;
  }

  /* Sources
     ========================================================================== */
  .toolbar-shadow {
    z-index: 12 !important;
  }

  /* Crumbs
   ======================================================================= */
  #elements-crumbs {
    background: $darkerBg !important;
  }

  /* Scripts
     ========================================================================== */
  .scripts-debug-toolbar {
    background-color: $contrast !important;
    border-bottom-color: $border !important;
  }

  .scripts-debug-toolbar-drawer {
    background-color: $background !important;
  }

  .navigator-tabbed-pane {
    background-color: $contrast !important;
  }

  input[type="radio"]:checked {
    filter: hue-rotate(322deg) brightness(105%) contrast(80%) !important;
  }

  .resources-dividers-label-bar {
    background: $contrast !important;
  }

  /* Network grid
   ==========================================================================
   */


  .network-waterfall-header,
  .network-log-grid.data-grid th {
    border-color: $border !important;

    &:hover {
      background: $highlight !important;
    }
  }

  .network-log-grid.data-grid table.data {
    > tr {
      background-color: $background !important;

      &:nth-child(2) {
        background-color: $darkerBg !important;
      }
    }
  }

  .data-grid-data-grid-node:nth-child(2n) {
    background: $second !important;

    td {
      border-color: $border !important;
    }
  }

  .data-grid-data-grid-node:nth-child(2n+1) {
    background: $excluded !important;

    td {
      border-color: $border !important;
    }
  }

  /* Network
   =================================================================
   */
  .network-item-view {
    background: $background !important;
  }

  .network-summary-bar {
    background: $darkerBg !important;
    border: $border !important;
  }


  .network-dim-cell {
    color: $primary !important;
  }

  .network-error-row {
    color: $error-color !important;
  }

  .toolbar-item {
    color: $text-color !important;
  }

  .sidebar-pane-section-toolbar {
    background: $button !important;
  }

  .styles-section:focus {
    background: $lighterBg!important;
  }

  .styles-section .selector {
    color: $primary !important;
  }

  .styles-section.read-only {
    background: $second !important;
  }

  .styles-section .simple-selector.selector-matches, .styles-section.keyframe-key {
    color: $number-color !important;
  }

  .styles-sidebar-pane-toolbar,
  .styles-sidebar-pane-filter-box > input,
  .toolbar-input,
  .filter-input-field {
    background-color: $contrast !important;
    border-bottom: 1px solid $border !important;
  }

  input[type="checkbox"]:not(.dt-checkbox-themed) {
    filter: none !important;
  }

  .breakpoint-hit {
    background-color: rgba($darkerBg, 0.5) !important;
    color: $text-color !important;
  }

  .infobar {
    color: $text-color !important;
  }

  .infobar-info {
    background: $lighterBg !important;

    .info-icon {
      background: $accent2 !important;
    }

    .infobar-toggle {
      color: $accent2 !important;
    }
  }

  /* Searchable View
     ========================================================================== */
  .toolbar-search-control {
    background-color: $background !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid $border !important;

    input {
      background: none !important;
    }

    .search-results-matches {
      color: $primary !important;
    }

    .toolbar-search-navigation {
      border-color: $background !important;
    }
  }

  .search-toolbar-summary {
    background: $contrast;
  }

  .search-bar {
    background: $background !important;
    border: 0 !important;
  }

  .toolbar-search-buttons {
    .search-action-button {
      background: $button !important;
      color: $primary !important;
      border: 0 !important;
      border-radius: 0 !important;
      text-transform: uppercase !important;
      font-weight: bold !important;
    }
  }

  /* Crumbs
    ======================================================================= */

  .crumbs .crumb::after {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.30em;
    left: 0.25em;
    position: relative;
    top: 0.75em;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.30em;

    &:last-child {
      border: none;
    }
  }

  .crumb.selected, .crumb:hover {
    background: $highlight !important;
  }

  /* Tabbed Pane
   ========================================================================== */
  .tabbed-pane-content.has-no-tabs {
    background-color: $lighterBg !important;
  }

  .tabbed-pane-header {
    border-bottom-color: $border !important;
  }

  /* Box Model
   ========================================================================== */
  .metrics {
    color: $text-color !important;

    .position {
      background: $contrast !important;
      border-color: $border !important;
    }

    .margin {
      background: $background !important;
    }

    .border {
      background: $darkerBg !important;
    }

    .padding {
      background: $contrast !important;
    }

    .content {
      background: $highlight !important;
    }
  }


  .resources-dividers-label-bar {
    background: $contrast !important;
  }

  /* Network
   =================================================================
   */
  .network-error-row {
    color: $error-color !important;
  }

  .toolbar-item {
    color: $text-color !important;
  }

  .tree-outline > .parent {
    color: $primary !important;
  }

  .tree-outline .header-name {
    color: $accent1 !important;
  }

  .empty-view {
    color: $disabled !important;
  }

  .network-timing-table-header td {
    color: $primary !important;
  }

  .network-summary-bar {
    color: $darkerBg !important;
    border: $border !important;
  }

  /* Popups
   ========================================================
   */
  .soft-context-menu,
  .tooltip{
    background: $background !important;
  }


  .item-list {
    background: $second !important;
  }

  .subtitle {
    color: $primary !important;
  }

  .suggest-box {
    background: $background !important;

    .query {
      color: $accent1 !important;
    }
  }

  /* Navigator
  ====================================================
   */
  // folders
  .navigator-nw-folder-tree-item .icon {
    background: $tree !important;
  }

  //icons
  //.navigator-file-tree-item .icon {
  //  background: $foreground !important;
  //}

  .tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab {
    color: $text-color !important;
  }

  .tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab.selected {
    border-left-color: $accent1 !important;
  }

  .settings-info-message {
    background: $second !important;
  }

  // Checkboxes
  input[type="checkbox"]:not(.dt-checkbox-themed):not(.enabled-button) {
    position: absolute !important; // take it out of document flow
    opacity: 0 !important; // hide it

    & + label,
    & ~ .webkit-css-property {
      position: relative !important;
      cursor: pointer !important;
      padding: 0 !important;
    }

    // Box.
    & + label:before,
    & ~ .webkit-css-property:before {
      position: relative;
      content: '' !important;
      margin-right: 10px !important;
      display: inline-block !important;
      vertical-align: text-top !important;
      width: 12px !important;
      height: 12px !important;
      background: $background !important;
      border: 2px solid $accent1 !important;
      border-radius: 4px !important;
    }

    // Box hover
    &:hover + label:before,
    &:hover ~ .webkit-css-property:before {
      background: $contrast !important;
    }

    // Box focus
    &:focus + label:before,
    &:focus ~ .webkit-css-property:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12) !important;
    }

    // Box checked
    &:checked + label:before,
    &:checked ~ .webkit-css-property:before {
      background: $accent1 !important;
      color: $background !important;
    }

    // Disabled state label.
    &:disabled + label,
    &:disabled ~ .webkit-css-property {
      color: #b8b8b8 !important;
      cursor: auto !important;
    }

    // Disabled box.
    &:disabled + label:before,
    &:disabled ~ .webkit-css-property:before {
      box-shadow: none !important;
      background: #ddd !important;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after,
    &:checked ~ .webkit-css-property:after {
      content: '' !important;
      position: absolute !important;
      left: 3px !important;
      top: 7px !important;
      background: $background !important;
      width: 2px !important;
      height: 2px !important;
      box-shadow:
        2px 0 0 $background,
        4px 0 0 $background,
        4px -2px 0 $background,
        4px -4px 0 $background,
        4px -6px 0 $background,
        4px -8px 0 $background !important;
      transform: rotate(45deg) !important;
    }
  }

}


@import "console";
@import "cm";
@import "treeView";

