.scripts-debug-toolbar {
  background-color: $contrast;
  border-bottom-color: $border;
}

.scripts-debug-toolbar-drawer {
  background-color: $background;
}

.navigator-tabbed-pane {
  background-color: $contrast;
}
