node_modules

# IntelliJ project files
.idea
*.iml

# build
material-style.min.css

# Project exclude paths
/dist/
/__sapper__/
/static/
/public/bundle.*
/public/styles/sass-cache

release.zip
release/

public/bundle.css
public/bundle.css.map