$bg: var(--bg);
$background: var(--bg);
$darkerBg: var(--contrast);
$lighterBg: var(--second);
$fg: var(--fg);
$foreground: var(--fg);
$primary: var(--text);
$text: var(--text);
$selBg: var(--selBg);
$selBgAlpha: var(--selBgAlpha);
$selFg: var(--selFg);
$selFg2: var(--selFg2);
$button: var(--button);
$disabled: var(--disabled);
$contrast: var(--contrast);
$second: var(--second);
$active: var(--active);
$border: var(--border);
$borderLight: var(--active);
$hl: var(--hl);
$highlight: var(--hl);
$tree: var(--tree);
$notif: var(--notif);
$excluded: var(--excluded);
$excludedAlpha: var(--excludedAlpha);
$accent1: var(--accent);
$accent1Alpha: var(--accent);
$accent2: var(--links);
$accent2Alpha: var(--links);
$accent3: var(--tags);

$tag-name-color: var(--tags);
$tags: var(--tags);
$attribute-name-color: var(--attributes);
$attributes: var(--attributes);
$comment-color: var(--comments);
$comments: var(--comments);
$keyword-color: var(--keywords);
$keywords: var(--keywords);
$var-color: var(--vars);
$vars: var(--vars);
$error-color: var(--errors);
$errors: var(--errors);
$operator-color: var(--operators);
$operators: var(--operators);
$function-color: var(--functions);
$functions: var(--functions);
$string-color: var(--strings);
$strings: var(--strings);
$number-color: var(--numbers);
$numbers: var(--numbers);
$link-color: var(--links);
$links: var(--links);
$text-color: var(--text-color);
$ignored-color: var(--ignored-color);
$uiFontFamily: var(--ui-font-family, Roboto, sans-serif);
$fontFamily: var(--font-family, Menlo, monospace);
$fontSize: var(--font-size, 11);

.-theme-with-dark-background,
:host-context(.-theme-with-dark-background) {
  --accent-color: #{$accent1} !important;
  --accent-fg-color: #{$accent1} !important;
  --accent-color-hover: #{$accent1Alpha} !important;
  --toolbar-bg-color: #{$darkerBg} !important;
  --toolbar-hover-bg-color: #{$highlight} !important;
  --selection-fg-color: #{$selFg} !important;
  --selection-bg-color: #{$selBg} !important;
  --selection-inactive-fg-color: #{$foreground} !important;
  --selection-inactive-bg-color: #{$lighterBg} !important;
  --tab-selected-fg-color: #{$selFg} !important;
  --tab-selected-bg-color: #{$highlight} !important;
  --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23),
  0 2px 4px 2px rgba(0, 0, 0, 0.2),
  0 2px 6px 2px rgba(0, 0, 0, 0.1) !important;
  --divider-color: #{$border} !important;
  --divider-border: 1px solid #{$borderLight} !important;
  --focus-bg-color: #{$active} !important;
  --focus-ring-active-shadow: 0 0 0 1px #{$accent1} !important;
  --focus-ring-inactive-shadow: 0 0 0 1px #{$borderLight} !important;
  --editor-selection-bg-color: #{$selBg} !important;
  --editor-selection-inactive-bg-color: #{$selBgAlpha} !important;
  --message-border-color: #{$border} !important;
  --monospace-font-size: var(--font-size, 11) !important;
  --monospace-font-family: var(--font-family, Menlo, monospace) !important;
  --source-code-font-size: var(--font-size, 11) !important;
  --source-code-font-family: var(--font-family, Menlo, monospace) !important;

  @import 'app/index';
}

