$background: var(--bg);
$darkerBg: var(--contrast);
$lighterBg: var(--second);
$foreground: var(--fg);
$primary: var(--text);
$selBg: var(--selBg);
$selBgAlpha: var(--selBgAlpha);
$selFg: var(--selFg);
$button: var(--button);
$disabled: var(--disabled);
$contrast: var(--contrast);
$second: var(--second);
$active: var(--active);
$border: var(--border);
$borderLight: var(--active);
$highlight: var(--hl);
$tree: var(--tree);
$notif: var(--notif);
$excluded: var(--excluded);
$excludedAlpha: var(--excludedAlpha);
$accent1: var(--accent);
$accent1Alpha: var(--accentAlpha);
$accent2: var(--accent2);
$accent2Alpha: var(--accent2Alpha);
$accent3: var(--accent3);

$tag-name-color: var(--tags);
$attribute-name-color: var(--attributes);
$comment-color: var(--comments);
$keyword-color: var(--keywords);
$var-color: var(--vars);
$error-color: var(--errors);
$operator-color: var(--operators);
$function-color: var(--functions);
$string-color: var(--strings);
$number-color: var(--numbers);
$link-color: var(--links);
$text-color: var(--text-color);
$ignored-color: var(--ignored-color);
$uiFontFamily: var(--ui-font-family, Roboto, sans-serif);
$fontFamily: var(--font-family, Menlo, monospace);
$fontSize: var(--font-size, 11px);

:host,
html {
  --accent-color: #{$accent1} !important;
  --accent-fg-color: #{$accent1} !important;
  --accent-color-hover: #{$accent1Alpha} !important;
  --toolbar-bg-color: #{$darkerBg} !important;
  --toolbar-hover-bg-color: #{$highlight} !important;
  --selection-fg-color: #{$selFg} !important;
  --selection-bg-color: #{$selBg} !important;
  --selection-inactive-fg-color: #{$foreground} !important;
  --selection-inactive-bg-color: #{$lighterBg} !important;
  --tab-selected-fg-color: #{$selFg} !important;
  --tab-selected-bg-color: #{$highlight} !important;
  --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23),
  0 2px 4px 2px rgba(0, 0, 0, 0.2),
  0 2px 6px 2px rgba(0, 0, 0, 0.1) !important;
  --divider-color: #{$border} !important;
  --divider-border: 1px solid #{$borderLight} !important;
  --focus-bg-color: #{$active} !important;
  --focus-ring-active-shadow: 0 0 0 1px #{$accent1} !important;
  --focus-ring-inactive-shadow: 0 0 0 1px #{$borderLight} !important;
  --editor-selection-bg-color: #{$selBg} !important;
  --editor-selection-inactive-bg-color: #{$selBgAlpha} !important;
  --message-border-color: #{$border} !important;

  @import 'app/index';
}

