:root {
  --background: #263238;
  --darkerBg: #212c31;
  --lighterBg: #32424a;
  --foreground: #b0bec5;
  --primary: #607d8b;
  --selBg: #546e7a;
  --selBgAlpha: #546e7a70;
  --selFg: #ffffff;
  --button: #2e3c43;
  --second: #32424A;
  --disabled: #415967;
  --contrast: #1e272c;
  --active: #314549;
  --border: #2a373e;
  --highlight: #425b67;
  --tree: #546e7a70;
  --notif: #1e272c;
  --accent1: #009688;
  --accentAlpha: #00968870;
  --excluded: #2e3c43;
  --excludedAlpha: #2e3c4340;
  --accent2: #80cbc4;
  --accent2Alpha: #80cbc480;
  --accent3: #ff4081;

  --tag-name-color: #f07178;
  --attribute-name-color: #ffcb6b;
  --comment-color: #546e7a;
  --keyword-color: #c792ea;
  --error-color: #ff5370;
  --var-color: #eeffff;
  --operator-color: #89ddff;
  --function-color: #82aaff;
  --string-color: #c3e88d;
  --number-color: #f78c6c;
  --link-color: #80cbc4;
  --text-color: #c3cee3;
  --ignored-color: #ab79c7;
  --parameters-color: #f78c6c;
}

$background: var(--background);
$darkerBg: var(--darkerBg);
$lighterBg: var(--lighterBg);
$foreground: var(--foreground);
$primary: var(--primary);
$selBg: var(--selBg);
$selBgAlpha: var(--selBgAlpha);
$selFg: var(--selFg);
$button: var(--button);
$disabled: var(--disabled);
$contrast: var(--contrast);
$second: var(--second);
$active: var(--active);
$border: var(--border);
$borderLight: var(--active);
$highlight: var(--highlight);
$tree: var(--tree);
$notif: var(--notif);
$excluded: var(--excluded);
$excludedAlpha: var(--excludedAlpha);
$accent1: var(--accent1);
$accent1Alpha: var(--accentAlpha);
$accent2: var(--accent2);
$accent2Alpha: var(--accent2Alpha);
$accent3: var(--accent3);

$tag-name-color: var(--tag-name-color);
$attribute-name-color: var(--attribute-name-color);
$comment-color: var(--comment-color);
$keyword-color: var(--keyword-color);
$var-color: var(--var-color);
$error-color: var(--error-color);
$operator-color: var(--operator-color);
$function-color: var(--function-color);
$string-color: var(--string-color);
$number-color: var(--number-color);
$link-color: var(--link-color);
$text-color: var(--text-color);
$ignored-color: var(--ignored-color);
$fontFamily: var(--font-family, Menlo, monospace);
$fontSize: var(--font-size, 11px);

html,
:host {
  --accent-color: #{$accent1} !important;
  --accent-fg-color: #{$accent1} !important;
  --accent-color-hover: #{$accent1Alpha} !important;
  --toolbar-bg-color: #{$darkerBg} !important;
  --toolbar-hover-bg-color: #{$highlight} !important;
  --selection-fg-color: #{$selFg} !important;
  --selection-bg-color: #{$selBg} !important;
  --selection-inactive-fg-color: #{$foreground} !important;
  --selection-inactive-bg-color: #{$lighterBg} !important;
  --tab-selected-fg-color: #{$selFg} !important;
  --tab-selected-bg-color: #{$highlight} !important;
  --drop-shadow: 0 0 0 1px rgba(0, 0, 0, 0.23),
  0 2px 4px 2px rgba(0, 0, 0, 0.2),
  0 2px 6px 2px rgba(0, 0, 0, 0.1) !important;
  --divider-color: #{$border} !important;
  --divider-border: 1px solid #{$borderLight} !important;
  --focus-bg-color: #{$active} !important;
  --focus-ring-active-shadow: 0 0 0 1px #{$accent1} !important;
  --focus-ring-inactive-shadow: 0 0 0 1px #{$borderLight} !important;
  --editor-selection-bg-color: #{$selBg} !important;
  --editor-selection-inactive-bg-color: #{$selBgAlpha} !important;
  --message-border-color: #{$border} !important;

  @import "app/index";
}

