.perfmon-chart-container {
  border-left-color: $borderLight;
}

.perfmon-indicator:hover {
  background-color: $tree;
}

.perfmon-indicator[data-keyboard-focus="true"]:focus {
  background-color: $active;
}

.perfmon-indicator:not(.active) .perfmon-indicator-swatch {
  background-color: $second !important;
}

.perfmon-indicator:not(.active) .perfmon-indicator-title {
  color: $primary;
}
