div:not(.tabbed-pane-close-button) {
  .close-button {
    filter: brightness(1);
    cursor: pointer;
    border-radius: 50%;
    box-sizing: content-box;
    border: 2px solid var(--button);
    background: -webkit-image-set(url(Images/smallIcons.svg) 1x, url(Images/smallIcons.svg) 2x) -19px 70px, var(--button);
  }
}