.close-button {
  filter: brightness(1);
  cursor: pointer;
  border-radius: 50%;
  box-sizing: content-box;
  border: 2px solid var(--button);
  background: -webkit-image-set(url(Images/smallIcons.png) 1x, url(Images/smallIcons_2x.png) 2x) -19px 70px, var(--button);
}
