.filter-bar {
  background-color: $contrast;
}

.filter-bitset-filter span {
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
}

.filter-bitset-filter-divider {
  background-color: $border;
}

.filter-bitset-filter span.selected,
.filter-bitset-filter span:hover,
.filter-bitset-filter span:active {
  color: $selFg;
  text-shadow: var(--drop-shadow) 0px 1px 0px;
}

.filter-bitset-filter span:hover {
  background: $accent1Alpha;
}

.filter-bitset-filter span.selected {
  background-color: $accent1;
}

.filter-bitset-filter span:active {
  background-color: $accent1;
}

.filter-input-field {
  background-color: $contrast;
  border: none;
  border-bottom: 2px solid $border;
  box-shadow: none;

}

.filter-input-field:hover {
  box-shadow: var(--focus-ring-inactive-shadow);
}

.filter-input-field:focus,
.filter-input-field:not(:empty) {
  border-bottom-color: $accent1;
  box-shadow: none;
}
