.cm-js-keyword {
  color: $keyword-color;
}

.cm-js-attribute {
  color: $var-color;
}

.cm-js-number {
  color: $number-color;
}

.cm-js-builtin {
  color: $keyword-color;
}

.cm-js-link {
  color: $link-color;
}

.cm-js-property {
  color: $var-color;
  font-weight: 100;
}

.cm-js-tag {
  color: $tag-name-color;
}

.cm-js-variable {
  color: $var-color;
}

.cm-js-comment {
  color: $comment-color;
}

.cm-js-string {
  color: $string-color;
}

.cm-js-string-2 {
  color: $string-color;
}

.cm-js-atom {
  color: $keyword-color;
}

.cm-js-def {
  color: $var-color;
  font-weight: 200;
}

.cm-js-operator {
  color: $operator-color;
}

.cm-js-meta {
  color: $string-color;
}

.cm-js-variable-2 {
  color: $var-color;
}

.cm-css-keyword {
  color: $keyword-color;
}

.cm-css-number {
  color: $number-color;
}

.cm-css-comment {
  color: $comment-color;
}

.cm-css-def {
  color: $keyword-color;
}

.cm-css-meta {
  color: $accent1;
}

.cm-css-atom {
  color: $attribute-name-color;
}

.cm-css-string {
  color: $string-color;
}

.cm-css-string-2 {
  color: $string-color;
}

.cm-css-link {
  color: $link-color;
}

.cm-css-variable {
  color: $function-color;
}

.cm-css-variable-2 {
  color: $function-color;
}

.cm-css-property, .webkit-css-property {
  color: $attribute-name-color;
}

.cm-xml-meta {
  color: $comment-color;
}

.cm-xml-comment {
  color: $comment-color;
}

.cm-xml-string {
  color: $string-color;
}

.cm-xml-tag {
  color: $tag-name-color;
}

.cm-xml-attribute {
  color: $attribute-name-color;
}

.cm-xml-link {
  color: $link-color;
}

:root {
  --dom-tag-name-color: $tag-name-color;
  --dom-attribute-name-color: $attribute-name-color;
}

.webkit-html-comment {
  color: $comment-color;
}

.webkit-html-tag {
  color: $operator-color;
}

.webkit-html-tag-name, .webkit-html-close-tag-name {
  color: $tag-name-color;
}

.webkit-html-pseudo-element {
  color: $var-color;
}

.webkit-html-js-node,
.webkit-html-css-node {
  color: $text-color;
}

.webkit-html-text-node {
  color: $text-color;
}

.webkit-html-entity-value {
  color: $attribute-name-color;
}

.webkit-html-doctype {
  color: $operator-color;
}

.webkit-html-attribute-name {
  color: $attribute-name-color;
}

.webkit-html-attribute-value {
  color: $string-color;
}

.devtools-link,
x-link.devtools-link {
  color: $link-color;
}

/* Default CodeMirror Theme */
.cm-negative {
  color: #dd4444;
}

.cm-positive {
  color: #229922;
}

.cm-link {
  color: $link-color;
}

.cm-invalidchar {
  color: $error-color;
}

.cm-header {
  color: $tag-name-color;
}

.cm-quote {
  color: $string-color;
}

.cm-keyword {
  color: $keyword-color;
}

.cm-atom {
  color: $keyword-color;
}

.cm-variable {
  color: $var-color;
}

.cm-number {
  color: $number-color;
}

.cm-def {
  color: $tag-name-color;
}

.cm-variable-2 {
  color: $function-color;
}

.cm-variable-3, .cm-type {
  color: $var-color;
}

.cm-comment {
  color: $comment-color;
}

.cm-string {
  color: $string-color;
}

.cm-string-2 {
  color: $string-color;
}

.cm-meta {
  color: $string-color;
}

.cm-qualifier {
  color: $attribute-name-color;
}

.cm-builtin {
  color: $keyword-color;
}

.cm-bracket {
  color: $operator-color;
}

.cm-tag {
  color: $tag-name-color;
}

.cm-attribute {
  color: $attribute-name-color;
}

.cm-hr {
  color: $comment-color;
}

.cm-error {
  color: $error-color;
}

.cm-operator {
  color: $operator-color;
}

.cm-css-builtin {
  color: $keyword-color;
}

.cm-css-operator {
  color: $operator-color;
}

.cm-css-qualifier {
  color: $attribute-name-color;
}

.cm-css-tag {
  color: $tag-name-color;
}

.cm-css-variable-3 {
  color: $var-color;
}

.cm-xml-error {
  color: $error-color;
}