:host {
  background-color: $second;
}

.report-content-box {
  background-color: $background;
}

.report-header {
  border-bottom-color: $second;
}

.report-section {
  border-bottom-color: $second;
}

.report-section-title {
  color: $primary;
}

.report-field-name {
  color: $primary;
}

.report-field-value-subtitle {
  color: $primary;
}
