.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header {
  background: $contrast;
  padding-top: 1em;

  .toolbar {
    border-top: 0;
  }
}

.tabbed-pane-content.has-no-tabs {
  background-color: $lighterBg;
}

.tabbed-pane-placeholder {
  text-shadow: $border 0px 1px 0px;
}


.tabbed-pane-header {
  border-bottom-color: $border;
  background-color: $contrast;
}

.tabbed-pane-header-tab {
  color: $foreground;
}

.tabbed-pane-header-tab:hover,
.tabbed-pane-shadow .tabbed-pane-header-tab[data-keyboard-focus="true"]:focus {
  color: $selFg;
  background-color: $active;
}

.close-button .smallicon-cross {
  filter: brightness(2);
  cursor: pointer;
  border-radius: 50%;
  box-sizing: content-box;
  border: 2px solid var(--button);
  background: -webkit-image-set(url(Images/smallIcons.svg) 1x, url(Images/smallIcons.svg) 2x) -19px 70px, var(--button);
}

.close-button .mediumicon-gray-cross-hover,
.close-button .mediumicon-gray-cross-active {
  filter: brightness(2);
  cursor: pointer;
  border-radius: 50%;
  box-sizing: content-box;
  //border: 2px solid $accent1Alpha;
  background: -webkit-image-set(url(Images/smallIcons.svg) 1x, url(Images/smallIcons.svg) 2x) -16px 74px, $accent1Alpha;
}

.tabbed-pane-header-tab.selected {
  background-color: $highlight;
  color: $selFg;
  border-bottom: 2px solid $accent1;
}

.tabbed-pane-header-tab.dragging {
  box-shadow: none;
  background-color: $highlight;
}

.tabbed-pane-header-tabs-drop-down-container > .chevron-icon {
  background-color: $foreground;
}

.tabbed-pane-header-tabs-drop-down-container:hover {
  background-color: $highlight;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab {
  color: $primary;
}

.tabbed-pane-shadow.vertical-tab-layout .tabbed-pane-header-tab.selected {
  border-left-color: $accent1;
  border-bottom: none;
  color: $selFg;
}

.tabbed-pane-tab-slider {
  background-color: $accent1;
}
