.CodeMirror {
  color: $operator-color;
  background-color: $background;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection,
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background-color: $selBg;
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: $background;
}

.CodeMirror pre {
  font-family: $fontFamily;
  font-size: $fontSize;
}

.CodeMirror-cursor {
  border-left: 2px solid $accent1;
}

.pretty-printed .CodeMirror-linenumber {
  color: $primary;
}

.CodeMirror .CodeMirror-selected,
.CodeMirror-selected {
  background: $tree !important;
}

.CodeMirror-focused .CodeMirror-selected {
  background: $tree !important;
}

.cm-searching {
  background-color: $excluded;
}

span.CodeMirror-selectedtext {
  background: $tree;
}

.cm-breakpoint:not(.cm-breakpoint-conditional) .CodeMirror-gutter-wrapper .CodeMirror-linenumber {
  filter: hue-rotate(-240deg);
}

.show-whitespaces .CodeMirror .cm-tab:before {
  display: block;
}

.source-frame-debugger-script {
  background-color: $highlight;
}

.diff-entry-insert .diff-marker {
  border-left-color: rgb(109, 213, 151);
}

.diff-entry-insert .CodeMirror-gutter-background {
  background-color: rgba(61, 199, 116, 0.2);
}

.diff-entry-modify .diff-marker {
  border-left-color: rgb(196, 79, 216);
}

.diff-entry-modify .CodeMirror-gutter-background {
  background-color: rgba(137, 55, 151, 0.2);
}

.diff-entry-delete .diff-marker {
  border-left-color: rgb(208, 44, 44);
}

.diff-entry-delete .CodeMirror-gutter-background {
  border-bottom-color: rgb(208, 44, 44);
}

.CodeMirror-readonly .CodeMirror-cursor {
  display: block;
}

.CodeMirror .CodeMirror-line::selection,
.CodeMirror .CodeMirror-line > span::selection,
.CodeMirror .CodeMirror-line > span > span::selection {
  background: $selBg;
  color: $selFg;
}
