header {
  border-bottom-color: $borderLight;
}

.keybinds-key {
  border-top-color: $borderLight;
  border-right-color: $borderLight;
  border-bottom-color: $borderLight;
  border-left-color: $borderLight;
  background-color: $button;
  color: $fg;
}

.keybinds-list-item:focus-visible {
  background-color: $highlight;
}

.keybinds-list-item.keybinds-editing {
  background-color: $contrast;
}

.keybinds-error {
  color: $error-color;
}

.keybinds-list-item button:hover .icon-mask {
  background-color: $accent1;
}

.keybinds-list-item button:focus-visible {
  background-color: $highlight;
}

.keybinds-list-text {
  color: $text;
}

.keybinds-category-header:not(:nth-child(2)) {
  border-top-color: $borderLight;
}

.keybinds-list-item:not(.keybinds-category-header):hover {
  background-color: $second;
}

.keybinds-set-select label p {
  color: $fg;
}
