.audits2-start-view-text {
  color: $primary;
}

.audits2-start-view-text h2 {
  color: $foreground;
}

.audits2-form-section {
  border-top-color: $border;
}

.audits2-help-text {
  color: $link-color;
}
