.object-properties-section {
  color: $primary !important;
}

.tree-outline.hide-selection-when-blurred .selected:focus[data-keyboard-focus='true'] ::slotted(*),
.tree-outline.hide-selection-when-blurred .selected:focus[data-keyboard-focus='true'] .name-and-value {
  box-shadow: 0 0 0 2px $active;
  line-height: 18px;
}

.console-eager-preview {
  height: auto;
}
