.styles-sidebar-pane-toolbar {
  background-color: $contrast;
  border-bottom: 1px solid $border;
}

.styles-sidebar-pane-filter-box > input {
  background-color: $contrast;
  border: none;
  border-bottom: 2px solid $borderLight;
}

.styles-sidebar-pane-filter-box > input:focus,
.styles-sidebar-pane-filter-box > input:not(:placeholder-shown) {
  box-shadow: none;
  border-bottom-color: $accent1;
}
