.tree-outline li.filter-match {
  background-color: $accent1Alpha !important;
}

.tree-outline li.overloaded.filter-match {
  background-color: $accent1Alpha !important;
}

.has-ignorable-error {
  color: $disabled !important;
}
